<!DOCTYPE html>
<html class="no-js" data-ng-app="cinefyApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cinefy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/module.css">
    <link rel="stylesheet" type="text/css" href="css/state.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bebasFont/stylesheet.css" type="text/css" charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  </head>
  <body class="{{bodyclass}}">
    <header>
      <nav>
        <ul class="navigation fullWidth">
          <li class="homeLink" data-ng-click="toHome()"><a data-ng-href="/#/">Cinefy</a></li>
          <li data-ng-click="awayHome()"><a data-ng-href="/#/play">How it works</a></li>
          <li data-ng-click="awayHome()"><a data-ng-href="/#/profile">My Profile</a></li>
          <li data-ng-click="awayHome()"><a data-ng-href="/#/signin" data-ng-if="logOut()">Sign up | Log in</a></li>
          <li data-ng-click="awayHome()"><a data-ng-href="/#/signin" data-ng-if="loggedIn()" data-ng-click="signOut()">Log out</a></li>
        </ul>
      </nav>
    </header>
    <main data-ng-view>
    </main>
    <footer>
      <p class="footerText">Cinefy was created by <a href="https://github.com/brandonburns">Brandon Burns</a>, <a href="https://github.com/callumsong">Callum Song</a>, <a href="https://github.com/KeriBrady">Keri Brady</a>, <a href="https://github.com/rraeburn">Ryan Raeburn</a>, and <a href="https://github.com/seangolob">Sean Golob<a>.</p>
    </footer>
  </body>
  <script src="bundle.js"></script>
</html>
