<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cinefy | Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/module.css">
    <link rel="stylesheet" type="text/css" href="../css/state.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/bebasFont/stylesheet.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navigation fullWidth">
          <li><a href="index.html">Home (logo image)</a></li>
          <li><a href="">About</a></li>
          <li><a href="">How it works</a></li>
          <li><a href="myprofile.html">My Profile</a></li>
          <li><a href="">Sign up | Log in</a></li>
        </ul>
      </nav>
    </header>
    <main class="pagePadding">
      <h1 class="mainHeader mainSubHeader">Cinefy Demo</h1>
      <div class="grid-container topPadding">
        <video controls class="grid-50">
          <source src="foo.mp4" type="video/mp4">
        </video>
        <section class="grid-50">
        <!-- Demo of feed will go here -->
        </section>
      </div>
    </main>
    <footer>
      <p>Footer content goes here</p>
    </footer>
  </body>
</html>
