<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cinefy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/module.css">
    <link rel="stylesheet" type="text/css" href="../css/state.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/bebasFont/stylesheet.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home (logo image)</a></li>
          <li><a href="">About</a></li>
          <li><a href="">How it works</a></li>
          <li><a href="myprofile.html">My Profile</a></li>
          <li><a href="">Sign up | Log in</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Cinefy</h1>
      <p>Tagline here.</p>
      <div>
        <button>Sign up</button>
        <button>Log in</button>
      </div>
    </main>
    <footer>
      <p>Footer content goes here</p>
    </footer>
  </body>
</html>
