<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cinefy | Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/module.css">
    <link rel="stylesheet" type="text/css" href="../css/state.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/bebasFont/stylesheet.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navigation fullWidth">
          <li><a href="index.html">Home (logo image)</a></li>
          <li><a href="">About</a></li>
          <li><a href="">How it works</a></li>
          <li><a href="myprofile.html">My Profile</a></li>
          <li><a href="">Sign up | Log in</a></li>
        </ul>
      </nav>
    </header>
    <main class="pagePadding">
      <div class="clearfix">
        <h1 class="floatLeft">Welcome to your profile page</h1>
        <div>
          <!-- Buttons below will serve as toggle between likes grid and preferences view -->
          <button class="toggleButton">Your likes</button>
          <button class="toggleButton">Preferences</button>
        </div>
      </div>
      <!--
      "Likes grid" content
      -->
      <section class="topPadding">
        <div class="alignLeft">
          <p class="inline">Filter by...</p>
          <select name="filterMovie">
            <option value="">Movie</option>
            <option value="jurassicPark">Jurassic Park</option>
            <option value="bourneIdentity">Bourne Identity</option>
            <option value="jamesBondSkyfall">James Bond: Skyfall</option>
            <option value="terminator2">Terminator 2</option>
          </select>
          <select name="filterType">
            <option value="">Type</option>
            <option value="products">Products</option>
            <option value="music">Music</option>
            <option value="locations">Locations</option>
            <option value="trivia">Trivia</option>
          </select>
        </div>
        <!-- Below is where the grid-like content will go -->
        <div class="grid-container topPadding likesList">
          <!--
          Below is an example of 2 line items... I'll be able to format w/ CSS.
          Each line of the table is a new unordered list with data in each list item.
          -->
          <ul class="grid-parent flex">
            <li class="grid-20">
              <img src="http://placehold.it/50x50" alt="Image liked item">
            </li>
            <li class="grid-20">
              (Type)
            </li>
            <li class="grid-20">
              (Description of thing)
            </li>
            <li class="grid-20">
              (Movie)
            </li>
            <li class="grid-20">
              <button class="ctaButton">Call to action</button>
            </li>
          </ul>
          <ul class="grid-parent flex">
            <li class="grid-20">
              <img src="http://placehold.it/50x50" alt="Image 2nd liked item">
            </li>
            <li class="grid-20">
              (Type 2)
            </li>
            <li class="grid-20">
              (Description of 2nd thing)
            </li>
            <li class="grid-20">
              (2nd Movie)
            </li>
            <li class="grid-20">
              <button class="ctaButton">Call to action</button>
            </li>
          </ul>
          <ul class="grid-parent flex">
            <li class="grid-20">
              <img src="http://placehold.it/50x50" alt="Image liked item">
            </li>
            <li class="grid-20">
              (Type)
            </li>
            <li class="grid-20">
              (Description of thing)
            </li>
            <li class="grid-20">
              (Movie)
            </li>
            <li class="grid-20">
              <button class="ctaButton">Call to action</button>
            </li>
          </ul>
        </div>
      </section>
      <!--
      "Preferences" content
      -->
      <section id="preferences" class="alignLeft">
        <h1>Account Preferences</h1>
        <h2 class="smallPadding">Change which movie alerts you'd like to receieve here:</h2>
        <form>
          <ul>
            <li>
              <input type="checkbox" name="alerts" value="products">Products
            </li>
            <li>
              <input type="checkbox" name="alerts" value="music">Music
            </li>
            <li>
              <input type="checkbox" name="alerts" value="locations">Locations
            </li>
            <li>
              <input type="checkbox" name="alerts" value="trivia">Trivia
            </li>
            <li class="smallPadding">
              <input type="submit" value="Save">
            </li>
          </ul>
        </form>
      </section>
    </main>
    <footer>
      <p>Footer content goes here</p>
    </footer>
  </body>
</html>
