<div data-ng-href="/#/profile" class="pagePadding">
  <div class="clearfix">
    <h1 class="floatLeft">Welcome to your profile page</h1>
    <div>
      <a href="preferences.html">
        <button class="profileButton">Account Preferences</button>
      </a>
    </div>
  </div>
    <div class="grid-container topPadding likesList">
        </div>
      </div>
      <section class="topPadding">
        <div class="alignLeft">
          <p class="inline">Filter by...</p>
          <select name="filterMovie">
            <option value="">Movie</option>
            <option value="jurassicPark">Jurassic Park</option>
            <option value="bourneIdentity">Bourne Identity</option>
            <option value="jamesBondSkyfall">James Bond: Skyfall</option>
            <option value="terminator2">Terminator 2</option>
          </select>
          <select name="filterType">
            <option value="">Type</option>
            <option value="products">Products</option>
            <option value="music">Music</option>
            <option value="locations">Locations</option>
            <option value="trivia">Trivia</option>
          </select>
        </div>
        <!-- Below is where the grid-like content will go -->
        <div ng-controller="profileController" data-ng-init="getLikes()" class="grid-container topPadding likesList">
          <!--
          Each line of the table is a new unordered list with data in each list item.
          -->
          <ul ng-repeat="like in allLikes" class="grid-parent flex">
            <li> {{ like.name }} </li>
            <li> {{ like.picture }} </li>
            <li> {{ like.movie }} </li>
            <li> {{ like.description }} </li>
            <li> {{ like.type }} </li>
            <li> {{ like.cta }} </li>
          </ul>
        </div>
    </div>
  </section>
</div>