<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cinefy | Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/module.css">
    <link rel="stylesheet" type="text/css" href="../css/state.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/bebasFont/stylesheet.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navigation fullWidth">
          <li class="homeLink"><a href="index.html">Cinefy</a></li>
          <li><a href="">How it works</a></li>
          <li><a href="myprofile.html">My Profile</a></li>
          <li><a href="">Sign up | Log in</a></li>
        </ul>
      </nav>
    </header>
    <main class="pagePadding">
      <div class="clearfix">
        <h1 class="floatLeft">Account Preferences</h1>
        <div>
          <a href="myprofile.html">
            <button class="profileButton">Profile Page</button>
          </a>
        </div>
      </div>
      <section id="preferences" class="alignLeft">
        <h2 class="smallPadding">Change which movie alerts you'd like to receieve here:</h2>
        <form>
          <ul>
            <li>
              <input type="checkbox" name="alerts" value="products">Products
            </li>
            <li>
              <input type="checkbox" name="alerts" value="music">Music
            </li>
            <li>
              <input type="checkbox" name="alerts" value="locations">Locations
            </li>
            <li>
              <input type="checkbox" name="alerts" value="trivia">Trivia
            </li>
            <li class="smallPadding">
              <input type="submit" value="Save" class="ctaButton">
            </li>
          </ul>
        </form>
      </section>
    </main>
    <footer>
      <p>Footer content goes here</p>
    </footer>
  </body>
</html>
