<div class="pagePadding">
  <div class="clearfix">
    <h1 class="floatLeft">Account Preferences</h1>
    <div>
      <a href="myprofile.html">
        <button class="profileButton">Profile Page</button>
      </a>
    </div>
  </div>
  <section id="preferences" class="alignLeft">
    <h2 class="smallPadding">Change which movie alerts you'd like to receieve here:</h2>
    <form>
      <ul>
        <li>
          <input type="checkbox" name="alerts" value="products">Products
        </li>
        <li>
          <input type="checkbox" name="alerts" value="music">Music
        </li>
        <li>
          <input type="checkbox" name="alerts" value="locations">Locations
        </li>
        <li>
          <input type="checkbox" name="alerts" value="trivia">Trivia
        </li>
        <li class="smallPadding">
          <input type="submit" value="Save" class="ctaButton">
        </li>
      </ul>
    </form>
  </section>
</div>
